body {
    background-image: url("1330498.jpeg");
    background-size: 100%;
  }
    table {
        width: 600px;
        /*border-spacing: 40px;*/
    }
    
    h1 {
        color: #000000;
    }
    
    th {
        text-align: center;
        border-collapse: collapse;
        font-style: italic;
    }
  
    table, th, td {
        text-align: center;
        border: 1px solid rgb(0, 0, 0);
        color: #000000;
        border-collapse: collapse;
        font-style: italic;
    }
  
    th, td {
        padding: 20px;
    }

    


